h1{
color :lightgreen
}
h4 {
    color: rgb(0, 255, 149);
    text-align: center;
    width: auto;
   
}
body {
    color : rgb(1, 115, 246)
}
#conversation{
padding: 5px 5px 5px 5px;
height: 300px;
overflow-y: scroll;
}
