<div class="navbar-fixed">  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Voyage</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        {{#if user}}
        <li><a href="/users"> <i class="material-icons">people</i></a></li>
         <li><a href="/logout">Logout</a></li>
         
        {{else}}
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact Me</a></li>
        <li><a href="/inbox">Inbox</a></li>
       {{/if}}
      </ul>
    </div>
  </nav>
  </div>