  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Voyage</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact Me</a></li>
      </ul>
    </div>
  </nav>