<div class="contianer">
    <h4><center>About</center></h4>
<body> <center>
    This Messenger - application called "Voyage" is created as part of CS4203 - CourseWork 2.
    It was built using Express and .js with the help of middlewares such as Passport for authentication purposes.
    The use of MongoDB is for storing users and data.
    To use the App :
    Sign in using either your Facebook or Google Account , The site automatically creates a user profile if you're registering now or
    it takes you to your profile page.
    </center></body><br>
</body>
<p> <center>Built by 220031985<br></center></p>
<p><center> &copy 2022</center></p>
</div>
