<div class="container">
    <h4> Contact Me </h4>
     <div class="row">
    <form class="col s12" action="/contactme" method="POST">
      <div class="row">
        <br>  </br>
        <div class="input-field col s6">
          <input placeholder =" " input name ="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input placeholder = " " input name= "last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder =" " input name ="email" type="email" class="validate">
          <label for="email"> Your Email </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea name="message" class="materialize-textarea"></textarea>
          <label for="message"> Message </label>
        </div>
      </div>
    
      <div class="row">
        <button type = "Send" class=" ="btn btn-primary"> Send </button>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>