<div class="container">
    <h4>
        <a href="/auth/facebook">
       <center><button class="btn-primary" style="background-color: rgb(0, 213, 255); border-color:white; color: white"> <center>Sign in with Facebook</center></button></a>
    </h4></center> 
      <h4>
        <a href="/auth/google">
       <center><button class="btn-danger" style="background-color: rgb(18, 229, 85); border-color:rgb(7, 225, 130); color: white"> <center>Sign in with Google</center></button></a>
    </h4></center> 
</div>